.last_booking_details_container_main {
    padding: 20px;
    border-radius: 12px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    color: black
}
.last_booking_details_header{
    font-size: 22px;
    margin-bottom: 10px;
    color: black;
}
.seats_conatiner{
    margin-bottom: 10px;
}
.seats_header{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}
.seats_conatiner .seats{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.seats_values{
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    background-color:aquamarine;
    margin-right: 2px;
    margin-bottom: 10px;
    text-align: center;
}
.slots, .movie{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}
.slots span, .movie span {
    font-weight: 400;
    font-size: 16px;
} 
