.form-check-label{
    padding: 10px 15px;
    font-size: 18px;
    border:  3px solid rgb(10, 10, 10);
    margin: 10px;
    border-radius: 10px;
    border-style:solid;
}
.text{
    font-size: 17px;
    text-align: center;
}