.form-ceck-label{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}
.form-ceck-label:hover{
    background-color:dodgerblue;
    border-style: dotted;
    border-radius: 5px;
    margin: 5px;
}
.seats-input{
    width: 70%;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}
.seats-input:hover{
    background-color:mediumpurple;
}