.form-ceck-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;             
    padding: 6px 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.form-ceck-label:hover {
    background-color: dodgerblue;
    color: white;
}

.text {
    font-weight: 600;
}

.seats-input {
    width: 45px;
    border-radius: 8px;
    text-align: center;
    border: 1.5px solid black;
    padding: 3px;
}

.seats-input:hover {
    background-color: mediumpurple;
    color: white;
}


