
.SS_main_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;               
    align-items: center;
    justify-content: flex-start;
}

.SS_heading {
    width: 100%;
    font-size: 22px;
    color: black;
    margin-bottom: 12px;
}
