.ss_main_container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: black;
}
.ss_heading{
    width: 100%;
    font-size: 22px;
    color: black;
}